@model IEnumerable<NoteBookApp.Models.Note>
@{
    ViewData["Title"] = "Notes List";
}
<h2>Notes List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            @* <th>Category</th> *@
            <th>Summary</th>
            <th>CreatedDate</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var note in Model)
        {
            <tr>
                <td>@note.Title</td>
                <td>@note.Content</td>
                <td>@note.CreatedDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
            
                <td>
                    <a asp-action="Delete" asp-route-id="@note.Id" class="btn btn-danger">
                        Sil
                    </a>

                    @* <button href="@Url.Action("Delete","Notes",new {id=note.Id})"class="btn btn-outline-danger">
                        Delete
                    </button> *@
                </td>
            </tr>
        }
    </tbody>
</table>